<mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle *ngFor="let color of colors" value="{{color}}" aria-label="Text align left" style.background-color="{{color}}" (click)="bgChange(color)">
    <mat-icon></mat-icon>
  </mat-button-toggle>
  <input type="color" (onChange)="handleChange($event)">
</mat-button-toggle-group>
<div class="example-selected-value" style.background-color={{bgColor}} (change)="bgChange(bgColor)">Selected value: {{group.value}}
  <div class="color-picker">
    <color-sketch (onChange)="handleChange($event)"></color-sketch>
    
  </div>
</div>
